<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>OnlineChat</title>
</head>
<body>
<div th:fragment="header">
    <nav>
        <div class="blue darken-4 nav-wrapper">
            <a href="#" class="brand-logo ">SimbirSoft</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <div>
                    <li><a style="text-decoration: none" href="/">Profile</a></li>
                    <li sec:authorize="!isAuthenticated()">
                        <a style="text-decoration: none" href="/">Login</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <form id="logoutForm" th:action="@{/logout}" method="post">
                            <a href="#" th:onclick="logoutForm.submit()">Logout</a>
                        </form>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>