<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

</head>
<body>
<div id="loginFormDiv" class="screen" layout:fragment="content">
    <div class="login-form" style="width: 340px; margin: 40px auto">
        <form style="align-content: center" th:action="@{/registration}" method="post" id="registrationForm">
            <div>
                <label for="email">Электронная почта</label>
                <input id="email" type="email" placeholder="email" th:name="email" required="required"/>
            </div>

            <div>
                <label for="username">Логин</label>
                <input type="text" id="username" placeholder="Логин" th:name="username" required="required">
            </div>

            <div>
                <label for="password">Пароль</label>
                <input type="password" id="password" placeholder="Пароль" th:name="password" required="required" onchange="checkPassword()">
            </div>

            <div>
                <label for="passwordDouble">Повторите пароль</label>
                <input id="passwordDouble" type="password" placeholder="Повторите пароль" required="required" onchange="checkPassword()">
            </div>

            <a class="waves-effect waves-light red lighten-2 btn" id="registrationButton" href="#" th:onclick="registrationForm.submit()">Принять</a>
        </form>
        <script>
            function checkPassword() {
                var firstField, secondField;
                firstField = document.getElementById("password").value;
                secondField = document.getElementById("passwordDouble").value;
                if (firstField === secondField){
                    document.getElementById("registrationButton").removeAttribute("disabled");
                } else {
                    document.getElementById("registrationButton").setAttribute("disabled","disabled");
                }
            }
        </script>
    </div>
</div>

</body>
</html>